# Arquivos de build e dependências
node_modules/
platforms/
plugins/
.angular/
 
# Arquivos gerados durante a compilação
www/  

# Arquivos específicos para editores de código
.vscode/
.idea/

# Arquivos de configuração de ambiente
*.env
.env.local
.env.production
.env.staging

# Logs
logs/
*.log