<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="galeria">
      <ion-icon aria-hidden="true" name="cloud-download-outline"></ion-icon>
      <ion-label>Galeria</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa">
      <ion-icon aria-hidden="true" name="locate-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon aria-hidden="true" name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
